/**
*
* TOPNAV Stylings
*
*/

#menu-toggle:checked + #menu{
    display: block;
}

.navicon {
    width: 1.125em;
    height: .125em;
  }

  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
    content: '';
    background: #ffff;
  }

  .navicon::before {
    top: 5px;
  }

  .navicon::after {
    top: -5px;
  }

  .menu-btn:not(:checked) ~ .menu {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    display: block;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::before,
  .menu-btn:checked ~ .menu-icon .navicon::after {
    top: 0;
  }


  /* USED: screen shot scrolling */
  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    /* -webkit-overflow-scrolling: touch;
    overflow-x: scroll; */
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .screenshot-item {
    margin: 15px;
}

.screenshot-item img {
    max-width: 250px;
    width: 100%;
    display: block;
    margin: auto;
    box-shadow: var(--shadow-black-100);
}